body {

	background: linear-gradient(
		120deg, 
		tan 60%, 
		rgb(7,62,96));
}

.toggle-label {
	font-size: 2rem;
	vertical-align: middle;
	margin: 4px 10px;
}

#displayImg {
	border-radius: 9px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

.img-magnifier-container {
	width: 100%;
	padding-top: 100%;
	position: relative;
	background: white;
	border-radius: 10px;
}

.colorDisplay {
	background: lightgrey;
	font-size: 20px;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	padding-top: 100%;
	position: relative;
	/* WebKit (Safari/Chrome) Only */
	/* -webkit-text-stroke: 2px black;  */
	
	-webkit-text-fill-color: white;
	
	text-shadow:
		2px 2px 0 #000,
		/* Simulated effect for Firefox and Opera
			and nice enhancement for WebKit */
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
}

.colorDisplay.short {
	padding-top: 50%;
}

.selectedColor {
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	border: solid #000 1px;
	border-right: none;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.matchDiv {
	text-align: center;
	padding: 10px;
	position: absolute;
	right: 0;
	width: 50%;
	color: #fff;
	border: solid #000 1px;
	/* -webkit-text-stroke: #000; */
	top: 0;
	bottom: 0;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#roofSunMatchDiv {
	top: 0;
	bottom: initial;
	height: 50%;
	border-bottom: none;
	border-bottom-right-radius: 0;
}

#complementMatchDiv {
	bottom: 0;
	top: initial;
	height: 50%;
	border-top-right-radius: 0;
}

.img-magnifier-container {
	position: relative;
	border: solid #000 1px;  
}
  
.img-magnifier-glass {
	position: absolute;
	border: 3px solid #000;
	border-radius: 50%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 100px;
	height: 100px;
}
header {
	margin-left: 40px;
}
h2 {
	font-size: 20px;
	margin-top: 2px;
	margin-left:10px;
}

#color-list {
	text-align: center;
}


#color-list div {
	text-align: center;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 10px;
	border: 1px solid #000;
	vertical-align: top;
	-webkit-text-fill-color: white;
	text-shadow:
	2px 2px 0 #000,
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px  1px 0 #000,
	1px  1px 0 #000; 
}

.margin-bottom {
	margin-bottom: 1rem;
}
